@font-face {
    font-family: BluuNext;
    src: url(resources/fonts/BluuNext-Titling.otf);
}

:root {
    --gryffindor-color: #740001;
    --ravenclaw-color: #0e1a40;
    --slytherin-color: #256d3e;
    --hufflepuff-color: #ffdb00;

    --background-blue: #365a63;
    --background-bright: #e8deae;
    --element-blue: #0f4c5c;
    --text-bright: #ececec;
    --text-dark: #2e2b2b;

    --border-radius-student: 4.5vh;
}

body {
    margin: 0px;
    padding: 0px;
    /* overflow-y: hidden; */
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 2.5em;
}

h1,
h2 {
    font-family: BluuNext, serif;
    color: var(--text-bright);
}

h3,
h4,
h5,
h6,
p,
label {
    font-family: Raleway, sans-serif;
    color: var(--text-bright);
}

.title {
    width: 100%;
    height: 12vh;
    background-color: var(--background-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 4em;
    height: auto;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rightColumn,
.leftColumn {
    width: 20%;
    background-color: var(--background-blue);
    padding: 0.5em;
}

.center {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--background-bright);
    /* overflow-y: scroll; */
}

.student {
    margin-top: 1em;
    width: 45%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: var(--element-blue);
    border-radius: var(--border-radius-student);
}

.student .houseColor {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
}

.student .description {
    padding-left: 0.2em;
}

.student .gryffindor {
    background-color: var(--gryffindor-color);
}

.ravenclaw {
    background-color: var(--ravenclaw-color);
}

.hufflepuff {
    background-color: var(--hufflepuff-color);
}

.slytherin {
    background-color: var(--slytherin-color);
}

.student p {
    display: inline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    flex-direction: column;
    justify-content: flex-end;
}

.modal.show {
    display: flex;
}

.modalContent {
    width: 50%;
    height: fit-content;
    align-self: center;
}

#studentInfo {
    padding: 1em;
    padding-bottom: 10vh;
    background-color: var(--background-bright);
}

#studentInfo p,
#studentInfo label,
#studentInfo h4,
#studentInfo h3 {
    color: var(--text-dark);
}

.modalTitle {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.modalTitle div {
    height: 10vh;
}

.modalTitle {
    border-radius: var(--border-radius-student) var(--border-radius-student) 0vh 0vh;
}

.modalTitle img {
    height: 100%;
    width: auto;
    padding: 1em;
}

.modalTitle button {
    justify-self: flex-start;
    align-self: flex-start;
}

.modal h3,
.modal p,
.modal h4 {
    margin-top: 0px;
    padding-top: 0px;
}

.modal p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#statistics p {
    margin-top: 0px;
    padding-top: 0px;
}

#statistics h4 {
    margin-bottom: 0px;
}

.names {
    display: flex;
}

.labelValueContainer {
    width: 100%;
}

.withBtn {
    display: flex;
}

.dialog {
    display: none;
}

.dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
    background-color: var(--background-bright);
    padding: 5vw 5vw 5vw 5vw;
    position: relative;
}

#hackedScreen {
    display: none;
}

#hackedScreen.show {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(34, 255, 0);
    font-family: BluuNext;
    font-size: 8em;
}
