:root {
    --gryffindor-color: #740001;
    --ravenclaw-color: #0e1a40;
    --slytherin-color: #1a472a;
    --hufflepuff-color: #ffdb00;
}

body {
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

h1 {
    padding: 0px;
    margin: 0px;
}

.title {
    width: 100%;
    height: 10vh;
    background-color: lightgrey;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rightColumn {
    width: 20%;
    background-color: lightgray;
}

.center {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leftColumn {
    width: 20%;
    background-color: lightgray;
}

.student {
    margin-top: 1em;
    width: 45%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-color: darkslategray;
}

.student .houseColor {
    display: block;
    width: 1em;
    height: 1em;
}

.gryffindor {
    background-color: var(--gryffindor-color);
}

.ravenclaw {
    background-color: var(--ravenclaw-color);
}

.hufflepuff {
    background-color: var(--hufflepuff-color);
}

.slytherin {
    background-color: var(--slytherin-color);
}

.student p {
    display: inline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    flex-direction: column;
    justify-content: flex-end;
}

.modal.show {
    display: flex;
}

.modalContent {
    width: 50%;
    height: fit-content;
    background-color: white;
    align-self: center;
}

.modal .information {
    padding: 1em;
    padding-bottom: 10em;
}

.modalTitle {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.modalTitle div {
    height: 10vh;
}

.modalTitle img {
    height: 100%;
    width: auto;
}

.modalTitle button {
    justify-self: flex-start;
    align-self: flex-start;
}

.modal h3,
.modal p,
.modal h4 {
    margin-top: 0px;
    padding-top: 0px;
}

.modal p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#statistics p {
    margin-top: 0px;
    padding-top: 0px;
}

#statistics h4 {
    margin-bottom: 0px;
}

.names {
    display: flex;
}

.labelValueContainer {
    width: 100%;
}

.withBtn {
    display: flex;
}

input[type="radio"] {
    display: block;
}
